<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="cs-container">
        <h2 class="title">
            Get It Done
            <br />
            With Us Today
        </h2>
        <p>
            Ready to transform your RV experience? Let our expert technicians take care of all your maintenance and repair needs.
        </p>
        <a href="/contact" class="cs-button-solid">Schedule Service</a>
    </div>
    <picture>
        <source
            media="(max-width: 600px)"
            srcset="/assets/images/RV 1-m.jpg"
        />
        <source
            media="(min-width: 601px)"
            srcset="/assets/images/RV 1.jpg"
        />
        <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/RV 1.jpg"
            alt="kitchen cabinets"
            loading="lazy"
            width="2500"
            height="1667"
        />
    </picture>
</section>
