<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="cs-container">
        <div class="cs-flex-group">
            {% if heroContent.topper %}
            <span class="cs-topper">{{ heroContent.topper }}</span>
            {% endif %}
            <h1 class="cs-title">{{ heroContent.title }}</h1>
            {% if heroContent.text %}
            <p class="cs-text">{{ heroContent.text }}</p>
            {% endif %}
            {% if heroContent.primaryButtonText %}
            <a href="{{ heroContent.primaryButtonLink }}" class="cs-button-solid">{{ heroContent.primaryButtonText }}</a>
            {% endif %}
            {% if heroContent.secondaryButtonText %}
            <a href="{{ heroContent.secondaryButtonLink }}" class="cs-button-transparent">{{ heroContent.secondaryButtonText }}</a>
            {% endif %}
        </div>
    </div>

    <!-- Background Image -->
    {% import "components/optimized-image.html" as image with context %}
    {{ image.optimizedImage(
        heroContent.desktopImage,
        heroContent.imageAlt,
        3600,
        2400,
        "eager",
        "(max-width: 600px) 100vw, 100vw",
        "cs-picture",
        "",
        "async"
    ) }}
</section> 